@model ML.Alumno
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AlumnoGetAll</h2>


@*<div class="row">*@
<div style="float:right;">
    @Html.ActionLink("Agregar", "Form", "Alumno", htmlAttributes: new { @class = "btn btn-success" })
</div>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Editar</td>
            <td class="hidden">IdAlumno</td>
            <td>Nombre</td>
            <td>ApellidoPaterno</td>
            <td>ApellidoMaterno</td>
            <td>CURP</td>
            <td>Email</td>
            <td>FechaNacimiento</td>
            <td>Telefono</td>
            <td>Imagen</td>
            <td>Eliminar</td>

        </tr>
    </thead>
    <tbody>
        @foreach (ML.Alumno alumno in Model.Alumnos)
        {
            <tr>
                <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Alumno", new { IdAlumno = alumno.IdAlumno })"></a></td>
                <td class="hidden">@alumno.IdAlumno</td>
                <td>@alumno.Nombre</td>
                <td>@alumno.ApellidoPaterno</td>
                <td>@alumno.ApellidoMaterno</td>
                <td>@alumno.CURP</td>
                <td>@alumno.Email</td>
                <td>@alumno.FechaNacimiento</td>
                <td>@alumno.Telefono</td>
                @if (alumno.Imagen != null)
                {
                    <td><img src="data:iamge/jpeg;base64,@Convert.ToBase64String(alumno.Imagen)" style="height:150px; width: 150px" /></td>
                }
                else
                {
                    <td><img src="~/Img/nouser.jpg" style="height:150px; width: 150px" /></td>
                }
                <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Alumno", new { IdAlumno = alumno.IdAlumno })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
            </tr>
        }


    </tbody>
</table>