@model ML.Profesor
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2></h2>
        <hr />
    </div>
</div>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Seleccionar</td>
            <td class="hidden">IdAlumno</td>
            <td>Nombre</td>

        </tr>
    </thead>
    <tbody>
        @foreach (ML.Profesor profesor in Model.Profesores)
        {
            <tr>
                <td><a class="btn btn-primary glyphicon glyphicon-ok" href="@Url.Action("MateriaGetAsignada", "ProfesorMateria", new { IdProfesor = profesor.IdProfesor })"></a></td>
                <td class="hidden">@profesor.IdProfesor</td>
                <td>@profesor.Nombre @profesor.ApellidoPaterno @profesor.ApellidoMaterno</td>

            </tr>
        }


    </tbody>
</table>