@model ML.Materia
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Materia</h2>
        <hr />
    </div>
</div>

<div style="float:right;">
    @Html.ActionLink("Agregar", "Form", "ControlEscolar", htmlAttributes: new { @class = "btn btn-success" })
</div>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Editar</td>
            <td class="hidden">IdMateria</td>
            <td>Nombre</td>
            <td>Costo</td>
            <td>Eliminar</td>

        </tr>
    </thead>
    <tbody>
        @foreach (ML.Materia materia in Model.Materias)
        {
            <tr>
                <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "ControlEscolar", new { IdMateria = materia.IdMateria })"></a></td>
                <td class="hidden">@materia.IdMateria</td>
                <td>@materia.Nombre</td>
                <td>@materia.Costo</td>

                <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "ControlEscolar", new { IdMateria = materia.IdMateria })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a></td>
            </tr>
        }
    </tbody>
</table>
